html {
  background-color: #f5f5f5;
  color: #363636;
}

section.hero.is-light .hero-body .column:nth-child(2) a {
  color: rgba(54,54,54,.7);
  border-bottom: 1px dotted rgba(154,154,154,.7);
}
section.hero.is-light .hero-body  .column:nth-child(2) a:hover {
  color: inherit;
}
.content pre, {
  padding: 0;
}

.menu a {
  transition: all .6s ease-in;
}

/* for block of numbers */
td.hljs-ln-numbers {
	color: #CCC;
}

h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
  margin-top: 24px;
}

p {
  margin: 16px auto;
}

.column section ul {
  padding-left: 24px;
}
.column section ul > li {
  list-style: circle;
}