# Ignore Everything
/*

# Except:
## Sources
!/bin
!/docs
!/src
!/test

## Git
!/.gitattributes
!/.gitignore
!/.gitmodules
!/README*
!/LICENSE*

## npm
!/.*rc.js
!/.*rc.yml
!/.*rc.json
!/gulpfile*
!/package*
!/yarn*
!/.*ignore
!/.*config
!/shrinkwrap*

## Travis CI
!/.travis.yml

# Unwanted crap
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

package-lock.json