# Configuration
env:
  global:
    - 'itHAiXzRLwhpzrhIsh71vi30eU04G8PW+INa7QLW+MeN0y/CI5Ht0VHuGjGuv8AU3qeG7rjIsly7TBAIJSxMbHwIZ331slhTZcyI4r9f5rfzCZdTYGOVWnkcbM2O0bDFT+xfRFo8/X+cIL5DKU+FFr83HS2VomUKS325LMDD9ygjgcJ8/NSYoUsagc04sLFXkkjWT8/DLnq8JvS+rE6NJr7XPqx5wR2ZWtOMpNdsseaSQ6rDkB7H2D8V7Qdxp3o5dviTL9JRtJEEX/84hK7LrdSsb2LGNt2GrXTS/Di8sBFibvTmK/bcK4NmZH6v+n5svuCNjlkG7hhvt0QtFG9LRyjE8KIER75qDyDQhGtSQroTSBnNma/XzzThsUCVnMxzCTN2wYDoHVg8TPvf7I9uSEldo24GfP6+GnsXSMpDTemU8VP7YWkn2qV++KHuedvVRK0/KGRUdWg1Envg2BuSea4p/s5wx/kaIqHngEC/mrOGkMMtDa5KwPzKY6K1vHSKReX6pvlXOEoDEvVwFjrdMHHHjK1OnaccjAOkj9Hm9+1NO84AhgNLRy/Y1M73F3b8sg2ya48KZd4C9tGm6pbkMy7eT2TI9dQx9LS2KOd5btflpkfUZofIrOkvC+IqsdeprbnElx144uu2B0lTBjBmGZOiPbf+NN+ixosEUu2UAMA='
sudo: false
language: node_js

node_js:
  - '10'

# The pre-install script
before_install:
  - npm i -g pnpm # Use pnpm

# The install script
install:
  - pnpm install

# The pre-build script
before_script:
  - pnpm run lint
  - chmod u+x ./bin/build
  - chmod u+x ./bin/travis-push-update

# The build script
script:
  - ./bin/build ../gh-pages

# The commit script
after_success:
  - ./bin/travis-push-update

# Disable email notifications
notifications:
  email: false
