<meta charset="utf-8"/>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>

<link rel="icon" href="{{ site.baseurl }}/favicon.ico"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/index.css"/>

<script defer="true" src="{{ site.baseurl }}/js/index.js"></script>
