<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img id="ag" src="{{ site.baseurl }}/img/ag.png" alt="Andrea Giammarchi">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Hello There!</strong><br>
              I am doing my best to create good documentation full of meaningful examples.
            </p>
          </div>
        </div>
      </article>
      <div class="content">
        <p>
          However, no matter how interesting an Open Source project is,
          if it's not sustainable, it won't have the support it needs.
          Please consider backing this project, <strong>thank you</strong>!
        </p>
        <p>
          <a id="donate" class="button is-info" href="https://opencollective.com/hyperhtml">Open Collective</a>
          <a id="paypal" class="button is-success" href="https://www.paypal.me/webreflection">PayPal Donation</a>
        </p>
        {%- if page.documentation %}
        <p>
          <a id="examples" class="button" href="{{ site.baseurl }}/{{ page.documentation }}/examples/">Examples</a>
          <a id="documentation" class="button" href="{{ site.baseurl }}/{{ page.documentation }}/documentation/">Documentation</a>
        </p>
        {%- endif %}
      </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
